*,
*::before,
*::after{
	box-sizing: border-box;
}

body{
	margin: 0;
}
:root{
	--header-main:2.7rem;
	--main-heading-font-size: clamp(2.6rem, 5vw + 1rem, 3.75rem);
	--subheading1-font-size: clamp(1.25rem, 5vw + 1rem, 1.875rem);
	--score-font-size: clamp(1.5625rem, 5vw + 1rem, 2.5rem);
  }

.protest-strike-regular {
	font-family: "Protest Strike", serif;
	font-weight: 400;
	font-style: normal;
  }

.main-header{	
	/*background-color: lightgray;*/
    font-size: var(--main-heading-font-size);
	text-align: center;
}

.subheading-1{
	font-size: var(--subheading1-font-size);
	text-align: center;
}

.humanScore{
	display: inline-block;
	font-size: var(--score-font-size);
	margin: 0;
	text-align: center;
	padding-inline: min(10vw, 5rem);
	
}
