*,
*::before,
*::after{
	box-sizing: border-box;
	
}

body{
	margin: 0;
	background-image: url("../img/image for desktop and mobile/Universe back ground.jpg");
    background-size:auto;
	background-position:center;
	background-clip: initial;
	color: #FFFFFF;
	
}


:root{
	--header-main:2.7rem;
	--main-heading-font-size: clamp(2.6rem, 5vw + 1rem, 3.75rem);
	--subheading1-font-size: clamp(1.25rem, 2vw + 1rem, 1.875rem);
	--score-font-size: clamp(1.5625rem, 5vw + 1rem, 2.5rem);
	--weapon-font-size: clamp(1.25rem, 2vw + 1rem, 1.8rem);
	--weapon-human-font-size: clamp(0.8rem, 5vw + 1rem, 1.25rem);
	--choose-weapon-font-size:clamp(1.25rem, 2vw + 1rem, 2.5rem);

	--button-color: #99511A;
  }

  /*-----------------Font styles -----------------------*/
.protest-strike-regular {
	font-family: "Protest Strike", serif;
	font-weight: 400;
	font-style: normal;
  }

.audiowide-regular {
	font-family: "Audiowide", serif;
	font-weight: 400;
	font-style: normal;
  }

/*-- header ---*/
.main-header{
    font-size: var(--main-heading-font-size);
	text-align: center;
}

.subheading-1{
	font-size: var(--subheading1-font-size);
	text-align: center;
}

/*--- Scores of each player --*/
.humanScoreContainer{
	display: flex;
	flex-wrap: nowrap;
}

.Score{
	font-size: var(--score-font-size);
	padding-inline: clamp(10vw, 5vw + 1rem, 10rem);
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	text-align: center;
	flex-basis: 100%;
	flex-grow: 1;
}

.score{
	text-align: center;
	padding-inline-start: clamp(1vw, 2.5vw + 1rem, 5rem);
}

/* --- Play round of the game ---*/
.twocolumn {
	display:flex;
	flex-wrap: wrap;
	align-items: center;
  	justify-content: center;
	margin-left: auto;
	margin-right:auto;
  }

.flex-child{
	flex-basis: 40%;
	margin:auto;
	flex-shrink: 1;
}

figure{
	margin:0;
	height: 50%;
}

figcaption{
	display: none;
}

.fig1{
	font-size: var(--weapon-font-size);
	text-align: justify;
	position:relative;
	bottom:min(2rem, 20vh);
	width: 100%;
}


.flipImg{
	scale: -1 1; /* Flips the image horizontally */
}


/* -- Astronaut and Alien images -- */
.Astronaut{
	max-width:100%;
	max-height:100%;
	width: min(100vw,10rem);
	height: min(60vw,14rem);
}	

.Alien{
	max-width:100%;
	max-height:100%;
	width: min(100vw,9rem);
	height: min(60vw,10rem);
}

.alien-flex-child{
	padding-block-start: min(5vh,3rem);
	padding-inline-start:min(2vh,2rem);
}

/*-- Selected weapons of each player --*/

.alienWeapon,.humanWeapon{
	max-width:100%;
	max-height:100%;
	width: min(100vw,10.8125rem);
	height: min(60vw,20rem);
}

/*default image when no weapon is selected yet.*/
.defaultWeapon{
	max-width:100%;
	width: min(20dvh,10.8125rem);
	height: min(20dvh,10rem);
}

/*-- Human weapon button choices --*/

.footer-flex{
	background-color: rgba(87, 10, 10, 0.44); 
	padding-top: 0.4rem;
	padding-bottom: 2rem;
}

.footer-flex > h1{
	text-align: center;
	font-size: var(--choose-weapon-font-size);
}

.footer-flex-container{
	display:flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap:0;
	align-items: center;
  	justify-content: center;
}

button{
	width: min(100vw,7.3125rem);
	height: min(60vw,2.5rem);
	font-size: var(--weapon-human-font-size);
	margin: min(60vw, 1rem);
	border: none;
	z-index: 10;
	background-color: var(--button-color);
	color: #FFFFFF;
}
button:hover{
	background-color: #9164D1;
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(172, 33, 33); /* Fallback color */
	background-color: rgba(190, 35, 35, 0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
	background-color: rgba(22, 23, 24, 85%);
	margin: 5% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #090808;
	width: 100%; /* Could be more or less, depending on screen size */
}
  
  /* The Close Button */
  .close {
	color: #ffffff;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: rgba(245, 123, 123, 0.4);
	text-decoration: none;
	cursor: pointer;
  }

/*-- media queries --*/
@media(min-width:579px){
	
	  .twocolumn{
		margin-left: 8%;
	  }
}

@media(min-width:1024px){
	
	.twocolumn{
	  flex-wrap: nowrap;
	  margin-right: 12%;
	}

	.subheading-1{
		margin-bottom: 2rem;
	}

	.flex-child:nth-of-type(1), .flex-child:nth-of-type(2){
		margin-top: 0;
	}

	.flex-child:nth-of-type(1){
		padding-left: 5%;
	}

	.defaultWeapon{
		margin-left: 15%;
	}

	.alienWeapon,.humanWeapon{
		width: min(60vh,10.8125rem);
		height: min(60vh,15rem);
			
	}	

	figcaption{
		bottom:min(4rem, 20vh);
	}

	
	.item-2{order:4;}
	.item-3{order:2;}
	.item-4{order:3;}
}

@media(min-width:1280px){
	.twocolumn{
		margin-left: 16%;
		margin-right: 16%;
	  }
}


