*,
*::before,
*::after{
	box-sizing: border-box;
	
}

:root{
	--header-main:2.7rem;
	--main-heading-font-size: clamp(2.6rem, 5vw + 1rem, 3.75rem);
	--subheading1-font-size: clamp(1.25rem, 2vw + 1rem, 1.875rem);
	--score-font-size: clamp(1.5625rem, 5vw + 1rem, 2.5rem);
	--weapon-font-size: clamp(1.25rem, 2vw + 1rem, 1.8rem);
	--weapon-human-font-size: clamp(0.8rem, 5vw + 1rem, 1.25rem);
	--choose-weapon-font-size:clamp(1.25rem, 2vw + 1rem, 2.5rem);
	--footer-font-size:clamp(0.8rem, 2vw + 1rem, 1rem);

	--button-color: #99511A;
  }

    /*-----------------Font styles -----------------------*/
.protest-strike-regular {
	font-family: "Protest Strike", serif;
	font-weight: 400;
	font-style: normal;
  }

.audiowide-regular {
	font-family: "Audiowide", serif;
	font-weight: 400;
	font-style: normal;
  }

/*Button styles for weapon selection*/
  button{
	font-size: var(--weapon-human-font-size);
	margin: min(60vw, 1rem);
	border: none;
	z-index: 10;
	background-color: var(--button-color);
	color: #FFFFFF;
}
button:hover{
	background-color: #9164D1;
}