body{
	margin: 0;
	background-image: url("../img/image for desktop and mobile/Human and Aliens.jpg");
    background-size:150dvh;
	background-position:left top;
    background-position-x: -26.5rem;
   
	color: #FFFFFF;
}

.protest-strike-regular, 
.audiowide-regular{
	
letter-spacing: 2px;
}


header > h1{
    font-size: var(--main-heading-font-size);
    text-align: center;
    margin-block-start: min(5dvh, 1rem);
}

.img-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Astronaut{
    width: min(20dvh, 19.5625rem);
    margin-block-end: min(2dvh, 2rem);
}

.Alien{
    width: min(25dvh, 18.6875rem);
    margin-block-start: min(2dvh, 2rem);
}

.weaponButton{
	width: min(28dvh,21.25rem);
	height: min(10dvh,5.6875rem);
    font-size: clamp(1.5rem, 2vw + 1rem,2.5rem);
    border-radius: 20px;
}

footer{
    text-align: center;
    background-color: rgba(87, 10, 10, 0.44);
    margin-block-start: 2rem;
    width: 100%;
}

footer >p{
    margin: 0;
    padding-block-start: min(2dvh,4rem);
    padding-block-end: min(2dvh,4rem);
    padding-inline-start: min(1dvh,4rem);
    padding-inline-end: min(1dvh,4rem);
    font-size: var(--footer-font-size);
}

@media(min-width:390px){
    .weaponButton{
        font-size: clamp(1.875rem, 2vw + 1rem,2.5rem);
    }

    footer{
        position:fixed;
        bottom: 0;
    }
}

@media(min-width:800px){
    header > h1{
        margin-block-start: max(10dvh,5rem);
    }
}

@media(min-width:1024px){
    body{
        margin: 0;
        background-image: url("../img/image for desktop and mobile/Human and Aliens.jpg");
        background-size:cover;
	    background-position:auto;
        background-position-x: 0rem;
    }

    .img-container{
        flex-direction: row;
        align-items: center;
    }

    .weaponButton{
        font-size: clamp(1.875rem, 2vw + 1rem,2rem);
        width: min(44dvh,21.25rem);
        height: min(12dvh,5.6875rem);
    }

    .Astronaut{
        width: min(30dvh, 19.5625rem);
        margin-block-end: min(2dvh, 2rem);
    }
    
    .Alien{
        width: min(30dvh, 18.6875rem);
        margin-block-start: min(2dvh, 2rem);
    }
}


